<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Craftsy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="home-header">
        <div class="home-header-div-logo">
            <img class="home-header-logo" src="/img/logo.png" alt="">
            <a href=""><i class="fa-solid fa-bars"></i></a>
        </div>
        <nav>
            <ul>
                <li><a href="">smartphone</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul>
                <li><a href="">login</a></li>
                <li><a href="">registro</a></li>
            </ul>
        </nav>
    </header>
    <div class="body-box">
        <main class="Home-main">
            <div>
                <article class="home-main-article">
                    <img class="article-img" src="/img/img-phone-01.jpg" alt="">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laboriosam nulla minima ducimus
                        facere amet nesciunt praesentium ea similique voluptatum.</p>
                    <a href="">ver mas</a>
                </article>
                <article class="home-main-article">
                    <img class="article-img" src="/img/img-phone-02.jpg" alt="">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores vitae ipsa fugiat doloremque
                        esse qui culpa cum natus fugit earum.</p>
                    <a href="">ver mas</a>
                </article>
                <article class="home-main-article">
                    <img class="article-img" src="/img/img-phone-03.jpg" alt="">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores vitae ipsa fugiat doloremque
                        esse qui culpa cum natus fugit earum.</p>
                    <a href="">ver mas</a>
                </article>
                <article class="home-main-article">
                    <img class="article-img" src="/img/img-phone-01.jpg" alt="">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laboriosam nulla minima ducimus
                        facere amet nesciunt praesentium ea similique voluptatum.</p>
                    <a href="">ver mas</a>
                </article>
                <article class="home-main-article">
                    <img class="article-img" src="/img/img-phone-02.jpg" alt="">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores vitae ipsa fugiat doloremque
                        esse qui culpa cum natus fugit earum.</p>
                    <a href="">ver mas</a>
                </article>
                <article class="home-main-article">
                    <img class="article-img" src="/img/img-phone-03.jpg" alt="">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores vitae ipsa fugiat doloremque
                        esse qui culpa cum natus fugit earum.</p>
                    <a href="">ver mas</a>
                </article>
            </div>
        </main>
        <aside class="home-aside">
            <div class="home-main-tutoriales">
                <h3>Tutoriales</h3>
                <nav>
                    <div>
                        <img src="/img/aside-01.jpg" alt="">
                        <a href="">Titulo del tutorial de reparación.</a>
                    </div>
                    <div>
                        <img src="/img/aside-02.jpg" alt="">
                        <a href="">Titulo del tutorial de reparación.</a>
                    </div>
                    <div>
                        <img src="/img/aside-03.jpg" alt="">
                        <a href="">Titulo del tutorial de reparación.</a>
                    </div>
                    <div class="tutoriales-div">
                        <img src="/img/aside-04.jpg" alt="">
                        <a href="">Titulo del tutorial de reparación.</a>
                    </div>
                </nav>
            </div>
            <div class="home-main-publicidad">
                <h3>Publicidad</h3>
                <nav>
                    <div>
                        <a href=""><img src="/img/publicidad 1 (1).jpg" alt=""></a>
                    </div>
                    <div>
                        <a href=""><img src="/img/publicidad 2 (1).jpg" alt=""></a>
                    </div>
                </nav>
            </div>
        </aside>
    </div>
</body>

</html>