body {
    background-image: url('/img/bg-2.png');
    max-width: 980px;
    font-family: 'lato';
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
}