 /* MAIN */

 .Home-Main {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .Home-main div {
    background-color: #ffffff;
    width: 90%;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
 }

 .home-header-menu a {
    font-size: 10px;
    text-transform: uppercase;
    color: #ffffff;
 }


.home-main-article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 10px 0;   
}

.article-img {
    width: 100%;
}


.home-main-article p {
    font-size: 14px; 
    color: #92908b;;
}

.home-main-article a {
    background-color: orangered;
    color: #ffffff;
    display: inline-block;
    padding: 5px;
    margin: auto auto auto 0;
} 

/* ASIDE-TUTORIALES */

.home-aside {
    display: flex;
    flex-direction: column;
}

.home-main-tutoriales h3{
    background-color: #ffffff;
    border: 1px solid #89C1E8;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 30px 0 10px 0;
}

.home-main-tutoriales {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.home-main-tutoriales nav {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;    
}

.home-main-tutoriales div {
    border-top: solid 1px #89C1E8;
    border-left: solid 1px #89C1E8;
    border-right: solid 1px #89C1E8;
    display: flex;  
    align-items: center;
    text-align: center;
}

.tutoriales-div {
    border-bottom: solid 1px #89C1E8;
} 

.home-main-tutoriales img {
    width: 50%;
   padding: 5px;
}

.home-main-tutoriales a {
    color:#444444;
}

/* ASIDE-PUBLICIDAD */

 .home-main-publicidad h3 {
    background-color: #ffffff;
    border: 1px solid #89C1E8;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 30px 0 10px 0;
}

.home-main-publicidad {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.home-main-publicidad nav {
    background-color: #ffffff;
    border: solid 1px #89C1E8;
    display: flex;
    flex-direction: column;
}

.home-main-publicidad img {
    width: 100%;
    padding: 5px;
}  

/* TABLET */

@media (min-width:481px) {

    .Home-main div {
        background-color: #ffffff;
        width: 95%;
        padding: 0 10px 0px 10px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
     }

     .home-main-article {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 49%;   
    }

    /* ASIDE */

    .home-aside {
        display: flex;
        flex-direction: row;
    }

    .home-main-tutoriales {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin: 0 auto;
    }

    .home-main-publicidad {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 45%;
        margin: 0 auto;
    }

    .home-main-publicidad img {
        text-align: center;
        width: 100%;
        padding: 5px;
    } 

} 

/* DESKTOP */

@media (min-width:769px) { 
    .body-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .home-aside {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .Home-main div {
        background-color: #ffffff;
        width: 90%;
        margin: 0;
        display: flex;
     }

     .home-main-article {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 49%;   
    }

    .home-main-tutoriales h3{
        padding: 5px;
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
    }

    .home-main-tutoriales {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .home-main-tutoriales img {
        width: 50%;
       padding: 5px;
    }
}